  <div class="contact" data-aos="fade-up" data-aos-duration="1000">
    <a href="https://github.com/jhon50420" class="link">
    <img class="imgCont" src="https://raw.githubusercontent.com/jhon50420/imagens-logs/main/github_git_icon_145985.png">
    <div class="contactTex">
      <h5  class="ttCont">Jhoan Dorado</h5>
    </div>
    </a>
  </div>