<div class="dmind container pt-5">
    <div class="dmind div d-flex flex-row  align-items-center justify-content-center">
        <div class="div img" data-aos="fade" data-aos-delay="100" data-aos-duration="2000" data-aos-offset="200">
            <img class="img dmind"src="https://raw.githubusercontent.com/jhon50420/imagens-logs/6f6f5ef4e282eaa89fe9bdab74d53ba624962042/rostro.jpeg">
        </div>
        <div class="div descrp " data-aos="fade" data-aos-duration="1000" data-aos-offset="200">
            <h4 class="text">¡Hola!</h4>
            <H3 class="text" style="font-weight: bold;">Soy Jhoan Dorado </H3>
            <h4 class="text">creador de DMIND</h4>
            <h6>programador... </h6>
            <h6 data-aos="fade" data-aos-delay="500" data-aos-duration="3000"> ¿Full Stack?</h6>
            <a class="text" href="https://jhon50420.github.io/DMAIND/" style="text-decoration: none;">
                <h6>uwu</h6>
            </a>
        </div>
    </div>
    
</div>


