<div class="divHome align-items-center">
  <div class="divPort" id="home">
    {{> portada}}
  </div>
  <div class="divPort" id="about">
    {{> about }}
  </div>
  <div class="divPort" id="skills" >
    {{>about-2}}
  </div>

  <div class="divPort" id="proyect" style="height: auto;">
    {{>muestra}}
  </div>
  <div class="divPort" id="contac" style="height: auto;">
    {{>contac}}
  </div>
</div>